<mat-toolbar>
  <div class="header">
    <div class="empty-div"></div>
    <div class="nav-link left-div" routerLink=""><img alt="Logo" src="assets/Logo.PNG"></div>
    <div class="right-div">
      <button class="menu-btn" *ngIf="isUserLoggedIn" mat-button [matMenuTriggerFor]="menu">
        <div class="button-div">
<!--          <div id="title">{{user.title}}</div>-->
          <div id="icon"><span class="material-icons-outlined">account_box</span></div>
        </div>
        </button>
        <button class="menu-btn" *ngIf="!isUserLoggedIn" mat-button [matMenuTriggerFor]="menu">
          <span class="material-icons-outlined">account_box</span>
        </button>
      <mat-menu #menu="matMenu">
        <button *ngIf="isUserLoggedIn" mat-menu-item (click)="signOut()">Sign out</button>
        <button *ngIf="!isUserLoggedIn" mat-menu-item (click)="login()">Sign in</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
