@import'../../styles.scss';

.example-card {
  max-width: 400px;
}

mat-card-actions mat-card-subtitle {
    margin-left: 20px;
}

::ng-deep .mat-form-field .mat-form-field-infix {
  width:  300px !important;
}

mat-card-header {
  display: flex;
  align-items: center;
  margin-bottom: $innerMargin;

  mat-card-title {
    margin: 0;
    font-family: "Microsoft JhengHei";
  }

  .example-header-image {
    display: flex;
    align-items: center;

    img {
      width: 25px;
      height: 25px;
    }
  }
}

#btnUserlogin {
  margin-top: $innerMargin;
}
