@import'../../styles.scss';

.container {
  width: 50vw;
  margin: calc(#{$outerMargin} * 2) $innerMargin $innerMargin $innerMargin;

  .nav-link {
    display: flex;
    align-items: center;
    font-family: "Microsoft JhengHei";
    font-size: 14px;
    color: dimgrey;
    padding: 0 0 $innerMargin 0;

    span {
      margin-right: 5px;
    }
  }

  #form-container {
    display: flex;
    background: white;
    border-radius: 15px;
    padding: $innerMargin;
    flex-direction: column;
    box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.1);

    mat-label {
      font-size: 13px;
      font-weight: bold;
      padding-bottom: $innerMargin;
      color: $primary;
    }

    .title {
      color: $primary;
      font-family: "Microsoft JhengHei";
      font-size: 25px;
      font-weight: bolder;
    }

    .field-div {
      padding: 10px;
      display: flex;
      flex-direction: column;

      .contents {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .img-container {
          padding: 0 $innerMargin $innerMargin 0;
          width: 130px;
          height: 50px;
          overflow: hidden;
        }

        .img-title {
          display: flex;
        }

        .mid-div {
          .content-title {
            size: 15px;
            color: black;
            font-weight: bold;
            margin: $innerMargin $innerMargin $innerMargin 0;
          }

          .date {
            font-size: 12px;
            color: dimgrey;
          }
        }

        .delete-div {
          color: dimgrey;
          font-size: 18px;
          margin-top: $innerMargin;
        }

        .img-container {
          position: relative;
          padding: $innerMargin $innerMargin $innerMargin 0;
          width: 130px;
          height: 50px;
          overflow: hidden;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .remove-all{
        margin: $innerMargin 0 $innerMargin 0;
        border: 2px solid #131313;
        color: #131313;
        width: calc(calc(45vw/2) - calc(#{$innerMargin} * 4));
      }

      mat-label {
        padding-right: 10px;
      }

      #font-span {
        font-family: "Microsoft JhengHei";
        font-size: 12px;
        color: dimgrey;
        padding-bottom: $innerMargin;
      }

      .content-btns {
        display: flex;
        flex-direction: row;

        span {
          margin-right: 5px;
          font-size: 18px;
        }

        button {
          margin: 0 $innerMargin calc(#{$innerMargin} * 2) 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: calc(calc(45vw/2) - calc(#{$innerMargin} * 4));
          height: 4rem;
          font-family: "Microsoft JhengHei";
          color: white;
          background: $primary;
        }
      }
    }

    .button-div {
      padding-top: $innerMargin;
      padding-bottom: $innerMargin;
      display: flex;
      flex-direction: column;

      .top-btn {
        display: flex;
        flex-direction: row;

        .spaced-spans {
          width: calc(calc(50vw/2) - calc(#{$innerMargin} * 6));
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      .bottom-btn {
        display: flex;
      }

      span {
        font-size: 18px;
        display: flex;
        justify-content: flex-end;
      }

      .smaller-font {
        font-size: 15px;
      }

      #delete-btn {
        border: 2px solid darkred;
        color: darkred;
      }

      #savePost {
        background-color: forestgreen;;
        color: white;
      }

      #draft-btn{
        border: 2px solid #131313;
        color: #131313;
      }

      button {
        margin: $innerMargin;
        display: flex;
        align-items: center;
        width: calc(calc(50vw/2) - calc(#{$innerMargin} * 4));
        //height: 3rem;
      }
    }
  }
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  width: 300px !important;
}

.mat-button-wrapper {
  width: 100%;
}

//::ng-deep .mat-form-field-underline {
//  display: none;
//}
