$headerheight: 4em;

.container {
    display: flex;
    height: calc(100vh - #{$headerheight});
}

.sidenav {
    flex: 1;
    border: 1px solid red;
}

.content {
    flex: 4;
    border: 1px solid red;
}

.header {
  height: $headerheight;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.nav-link:hover {
  cursor: pointer;
}
