@import'../styles.scss';


.background-div {
  background-color: #f3f3f3;
  min-height: 100vh;
  max-height: fit-content;

  .nav-link {
    display: flex;
    align-items: center;
  }

  .container {
    display: flex;
    //height: calc(100vh - #{$headerheight});
  }

  .sidenav {
    //margin-top: $headerheight;
    flex: 1;
    background: white;
    z-index: 1;
    box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.1);
    height: calc(100vh - calc(#{$headerheight} + #{$innerMargin}));
  }

  .content {
    flex: 4;
    margin-bottom: 20px;
  }
}
