<mat-toolbar>
  <div class="header">
    <span class="nav-link" routerLink="">CBS Students (Kvalifik)</span>
    <div class="nav-link" routerLink="/signup">
      <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/signup">account_box</mat-icon>
      Signup
    </div>
    <div class="nav-link" routerLink="/login">
      <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/login">account_box</mat-icon>
      Login
    </div>
  </div>
</mat-toolbar>

<div class="container">
  <div class="sidenav">
    <app-sidenav></app-sidenav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
