<div class="post-container" *ngIf="currentPost">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{currentPost.title}}</mat-card-title>
    <mat-card-subtitle>{{currentPost.createdDate | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
    <br><p>{{currentPost.likes}}</p>
  </mat-card-header> <!--{{currentPost.media}}-->
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <div>{{currentPost.text}}</div>
    <hr>
    <div *ngIf="collaboration">
      <mat-label>Collaboration</mat-label>
      <p>{{collaboration.title}}<p>
    </div>
    <hr>
    <div *ngIf="collections.length > 0">
      <mat-label>Collection(s)</mat-label>
      <div *ngFor="let coll of collections">
        <p>{{coll.title}}<p>
      </div>
    </div>
    <hr>
    <div *ngIf="volunteers.length > 0">
      <mat-label>Responsible</mat-label>
      <div *ngFor="let volunteer of volunteers">
        <p>{{volunteer.firstName}} {{volunteer.lastName}}<p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="likePost(currentPost)" class="e2e-like">Like</button>
    <button mat-stroked-button color="primary" (click)="editPost(currentPost.id)" class="e2e-edit">Edit</button>
  </mat-card-actions>

  <button *ngIf="currentUser" mat-raised-button (click)="addComment()">Add comment</button> <!--todo: ONLY IF LOGGED IN-->
  <div #commentText style="display: none">
    <textarea #commentInput placeholder="This post deserves some love...." (keypress)="testChange($event, commentInput.value)"></textarea>
    <p>Send on Enter</p>
  </div>
  <div class="comment-card" *ngIf="comments">
    <mat-card-header>
      <mat-card-subtitle>Comments</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let comment of comments">
<!--        <p>{{comment.author.profilePhoto}}<p>-->
        <p>{{comment.author.name}}<p>
        <p>{{comment.text}}</p>
        <p>{{comment.createdDate | date}}</p>
        <p>{{comment.likes}}</p>
        <hr>
        <button mat-stroked-button (click)="likeComment(comment)">Like</button>
        <button *ngIf="currentUser && currentUser.email.split('@')[0] === comment.author.name" mat-stroked-button (click)="deleteComment(comment)">Delete</button>
      </div>
    </mat-card-content>
  </div>
</div>
