<div class="container">
  <div (click)="back()" class="nav-link"><span class="material-icons-outlined">chevron_left</span>Back</div>

  <div id="form-container">
   <div class="title">{{headerTitle}}</div>

    <form [formGroup]="postForm">
      <mat-form-field>
        <div class="field-div">
          <mat-label>Title</mat-label>
          <input *ngIf="editMode" matInput type="text" [placeholder]="selectedPost.title" formControlName="title">
          <input *ngIf="!editMode" matInput type="text" placeholder="Title" formControlName="title">
        </div>
      </mat-form-field>

      <div class="field-div">
        <mat-label>Text</mat-label>
        <textarea *ngIf="editMode" [placeholder]="selectedPost.text" formControlName="text"></textarea>
        <textarea *ngIf="!editMode" [placeholder]="'Write your post'" formControlName="text"></textarea>
      </div>

      <div class="field-div">
        <mat-form-field>
          <mat-label>Add media</mat-label>
          <br>
          <span>You can add one media type to your post. If you want to change the media type, you need to delete the added media first.</span>
    <!--      <button formControlName="media" mat-raised-button id="mediaInput">Add new media</button>-->
          <input matInput type="text" id="mediaInput" placeholder="Media" formControlName="media">
        </mat-form-field>
      </div>

      <div class="field-div">
        <mat-form-field appearance="fill">
          <mat-label>Collections</mat-label>
          <mat-select formControlName="collections" multiple>
            <mat-option *ngFor="let coll of collections" [value]="coll.id" >{{coll.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="field-div">
        <mat-label>Pinned</mat-label>
        <span>You can pin one post or event to the top of the page.</span>
        <mat-slide-toggle formControlName="pinned"></mat-slide-toggle>
      </div>

      <div *ngIf="!editMode" class="field-div">
        <mat-form-field appearance="fill">
          <mat-label>Responsible</mat-label>
          <mat-select formControlName="responsible" multiple>
            <mat-option *ngFor="let volunteer of volunteers" [value]="volunteer.id" >{{volunteer.firstName}} {{volunteer.lastName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="!editMode" class="field-div">
        <mat-label>Collaboration</mat-label>
        <mat-select formControlName="collaboration">
          <mat-option *ngFor="let collab of collaborations" [value]="collab.id">
            {{collab.title}}
          </mat-option>
        </mat-select>
      </div>
      <hr>
      <div class="button-div">
        <div class="top-btn">
          <button type="button" mat-raised-button id="draft-btn" (click)="onSubmitPost('DRAFT')"><div class="spaced-spans"><span class="smaller-font">Save draft</span> <span class="material-icons-outlined">save</span></div></button>
          <button type="button" mat-raised-button id="savePost" (click)="onSubmitPost('PUBLISHED')"><div class="spaced-spans"><span class="smaller-font">Publish post / save changes</span> <span class="material-icons-outlined">library_books</span></div></button>
        </div>
        <div class="bottom-btn">
          <button type="button" *ngIf="editMode" mat-raised-button id="delete-btn" (click)="openDialog(); ">Delete post</button> <!--deletePost()-->
        </div>
      </div>
    </form>
  </div>

  <div class="comments" *ngIf="editMode">
    <mat-label>Comments</mat-label>
    <div class="comment" *ngFor="let comment of comments">
      <div id="user-field">
        <!--        {{comment.author.profilePhoto}}-->
        {{comment.author.name}}
      </div>
      <div id="comment-field">
        <div class="top-comment">
          {{comment.text}}
<!--          <div *ngIf="currentUser && currentUser.email.split('@')[0] === comment.author.name" (click)="deleteComment(comment)">-->
            <span *ngIf="currentUser && currentUser.email.split('@')[0] === comment.author.name" (click)="deleteComment(comment)" class="material-icons-outlined">delete</span>
<!--          </div>-->
        </div>
        <div class="bottom-comment">
          {{comment.createdDate | date}}
          {{comment.likes}} likes
        </div>
      </div>

    </div>
  </div>
</div>

<!--export class Post {-->
<!--id;-->
<!--createdDate: Date;-->
<!--title: string;-->
<!--text: string;-->
<!--media?: string;-->
<!--collections: Collection[];-->
<!--comments: Comment[];-->
<!--pinned: boolean;-->
<!--state: string;-->
<!--likes: number;-->
<!--}-->
