@import "../../styles";

.container {
  margin: $innerMargin;

  .sorry {
    color: $primary;
    font-size: 35px;
    margin-top: $innerMargin;
  }

  .user-container {
    background-color: white;
    border-radius: 15px;
    padding: $innerMargin;
    width: fit-content;

    mat-label {
      color: black;
      font-weight: bold;
      font-size: 14px;
    }

    h1 {
      color: $primary;
      font-family: "Microsoft JhengHei";
      font-size: 25px;
    }

    h2 {
      color: $primary;
      font-family: "Microsoft JhengHei";
      font-size: 20px;
      padding-top: $innerMargin;
    }

    .photos-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        margin-top: $innerMargin;
        background-color: $primary;
        color: white;
        font-size: 16px;
        min-width: 150px;
        line-height: 40px;
      }

      .img-div {
        height: 200px;
        width: 200px;
        overflow: hidden;
        margin-top: $innerMargin;
        margin-right: $innerMargin;
        border-radius: 5px;

        img {
          height: 100%;
          width: auto;
        }
      }

      .cover-photo-div {
        height: 200px;
        width: 500px;
        margin-top: $innerMargin;
        overflow: hidden;
        border-radius: 5px;

        img {
          width: 100%;
          height: auto;
          border-radius: 5px;
        }
      }
    }

    #about-div-hidden {
      display: none;
    }

    .about-div {
      display: flex;
    }

    .about-div, #about-div-hidden {
      flex-direction: column;

      p {
        margin-top: 0;
        font-size: 12px;
        color: grey;
        font-family: "Microsoft JhengHei";
      }
    }

    .description-block-btn {
      margin-top: $innerMargin;
      background-color: $primary;
      color: white;
      font-size: 16px;
      min-width: 150px;
      line-height: 40px;
      max-width: 400px;
    }

    .contact-div {
      display: flex;
      flex-direction: column;
    }

    .bottom-btns {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      button {
        display: flex;
        align-items: center;
        font-size: 16px;
        width: calc(calc(50vw/2) - calc(#{$innerMargin} * 4));

        .btn-content {
          width: calc(calc(50vw/2) - calc(#{$innerMargin} * 6));
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
      }

      .preview {
        border: 2px solid #131313;
        color: #131313;
        margin-right: $innerMargin;
      }
      .save {
        background-color: forestgreen;;
        color: white;
      }
    }
  }
}
