<div class="container">
  <div class="collab-container">
    <h1>Collaboration</h1>
    <div>
      <h2>Invitations ({{invitedCollabs.length}})</h2>
      <div [ngClass]="{'hiddenInvitations': i >= 2, 'invitations': i < 2}" *ngFor="let invite of invitedCollabs; let i = index" [attr.data-index]="i">
        <div>
          <div class="postTitle">Post ● {{invite.postTitle}}</div>
          <div class="title-date"><div class="title">{{invite.title}} </div><p>●</p><div class="date">{{invite.postDate | date}}</div></div>
          <div class="description">{{invite.postDescription}}</div>
        </div>
        <div class="actions">
          <button mat-raised-button id="accept-btn" (click)="accept(invite)">Accept</button>
          <button mat-raised-button id="decline-btn" (click)="remove(invite)">Decline</button>
        </div>
      </div>
      <div class="show-all">
        <button mat-raised-button class="show-all-btn" (click)="showAll('invitations')">Show all</button>
      </div>
    </div>

    <div>
      <h2>Accepted collaborations ({{acceptedCollabs.length}})</h2>
      <div [ngClass]="{'hiddenAccepted': i >= 2, 'accepted': i < 2}" *ngFor="let invite of acceptedCollabs; let i = index" [attr.data-index]="i">
        <div>
          <div class="postTitle">Post ● {{invite.postTitle}}</div>
          <div class="title-date"><div class="title">{{invite.title}} </div><p>●</p><div class="date">{{invite.postDate | date}}</div></div>
          <div class="description">{{invite.postDescription}}</div>
        </div>
        <div class="actions">
          <button mat-raised-button id="remove-btn" (click)="remove(invite)">Remove</button>
        </div>
      </div>
      <div class="show-all">
        <button mat-raised-button class="show-all-btn" (click)="showAll('accepted')">Show all</button>
      </div>
    </div>
  </div>
</div>
