<mat-selection-list [multiple]="false">
    <mat-list-option >
        <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Posts
        </div>
    </mat-list-option>

    <mat-list-option >
        <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Events
        </div>
    </mat-list-option>

    <mat-list-option >
        <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Chats
        </div>
    </mat-list-option>
</mat-selection-list>