<mat-selection-list [multiple]="false">
  <mat-list-option routerLink="dashboard" routerLinkActive="active">
    <div class="nav-link">
      <mat-icon aria-hidden="false" aria-label="Example home icon">bar_chart</mat-icon>
      Dashboard
    </div>
  </mat-list-option>
  <mat-list-option routerLink="/profile" routerLinkActive="active">
    <div class="nav-link">
      <mat-icon aria-hidden="false" aria-label="Example home icon">recent_actors</mat-icon>
      Public profile
    </div>
  </mat-list-option>
  <mat-list-option routerLink="events" routerLinkActive="active">
    <div class="nav-link">
      <mat-icon aria-hidden="false" aria-label="Example home icon">insert_invitation</mat-icon>
      Events
    </div>
  </mat-list-option>
    <mat-list-option routerLink="posts" routerLinkActive="active" class="e2e-posts">
        <div class="nav-link">
            <mat-icon aria-hidden="false" aria-label="Example home icon">library_books</mat-icon>
            Posts
        </div>
    </mat-list-option>
  <mat-list-option routerLink="collections" routerLinkActive="active">
    <div class="nav-link">
      <mat-icon aria-hidden="false" aria-label="Example home icon">grid_view</mat-icon>
      Collections
    </div>
  </mat-list-option>
    <mat-list-option routerLink="chats" routerLinkActive="active">
        <div class="nav-link">
        <mat-icon aria-hidden="false" aria-label="Example home icon">question_answer</mat-icon>
            Chats
        </div>
    </mat-list-option>
  <mat-list-option routerLink="volunteers" routerLinkActive="active">
    <div class="nav-link">
      <mat-icon aria-hidden="false" aria-label="Example home icon">people</mat-icon>
      Volunteers
    </div>
  </mat-list-option>

</mat-selection-list>
