/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nav-link:hover {
  cursor: pointer;
}

.snackbar {
  background: #298629;
  color: white;
  margin-top: 50px;
}

.mat-simple-snackbar-action {
  color: white;
}

$headerheight: 3em;
$innerMargin: 20px;
$outerMargin: 30px;

$primary: #5050a4;
