<div class="container" *ngIf="volunteers">

  <div class="event-container">
    <div class="top-div">
      <div class="Title">
        <h2>Volunteers</h2>
      </div>
<!--      <div class="new-event">-->
<!--        <button class="new-event-btn" mat-raised-button routerLink="/manageevent"><div><span>Settings</span>-->
<!--          <span class="material-icons-outlined">add_circle</span></div></button>-->
<!--      </div>-->
    </div>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="profilePic">
          <th mat-header-cell *matHeaderCellDef class="title-th"> </th>
          <td mat-cell *matCellDef="let element"> <div class="img-div"><img alt="pp" src="{{element.profilePhoto}}"></div></td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="date-th"> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="userType">
          <th mat-header-cell *matHeaderCellDef class="date-th"> User Type </th>
          <td mat-cell *matCellDef="let element"> {{element.userType}}</td>
        </ng-container>

        <ng-container matColumnDef="groups">
          <th mat-header-cell *matHeaderCellDef class="location-th"> Groups </th>
          <td mat-cell *matCellDef="let element"> {{element.group}} </td>
        </ng-container>

        <ng-container matColumnDef="volunteerSince">
          <th mat-header-cell *matHeaderCellDef class="status-th"> Volunteer Since </th>
          <td mat-cell *matCellDef="let element">{{element.sinceDate | date}}</td>
        </ng-container>

        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef class="edit-th"> </th>
          <td mat-cell *matCellDef="let element" class="edit-td"> <button mat-raised-button class="edit-button">Info</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</div>
